/* 상단 헤더 */
header{
    /* border: 2px solid green; */
    height: 100px;
    position: relative;
    
    }
#logo{
   position: absolute;
   top: 10px;
   /* left: 0em; */
   left: 20px;
   margin-top: 5px;
}
#top_menu{
    position: absolute;
    /* right: 0em;
    margin-right: 20px; */
    top: 10px;
    left: 770px;

}

header #main_menu{
    /* border: 1px solid red; */
    width: 757px;
    height: 38px;
    background-image: url(../images/main_menu_bg.png);
    background-repeat: no-repeat;
    /* margin-top: 50px; */
    position: absolute;
    /* left: 15em; */
    top: 50px;
    left: 200px;
      
  
}
#main_menu a:link{
    text-decoration: none;
    /* 하이퍼 링크 적용된 텍스트 밑줄 삭제 */
    color: white;
}
#main_menu a:hover{
    text-decoration: underline;
    /* 하이퍼 링크 적용된 텍스트에 마우스 올렸을떄 밑줄 출력 */
    color: white;
}
#main_menu :visited{
    text-decoration: none;
    /* 하이퍼 링크 적용된 텍스트 눌렀을떄 효과 삭제(색 변하는것) */
    color: white;
}

#main_menu li{
       display: inline-block;
       /* margin 적용하려면 inline-block으로 설정 */
       font-size: 13px;
       margin: 12px 30px 0 50px;
    }


